@model IEnumerable<CarsCatalog.Models.CarModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Каталог</h1>

<p>
    <a asp-action="Create">Добави нов модел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Снимка
            </th>
            <th>Марка</th>
            <th>Модел</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="w-25">
                <img src="@item.Photo" class="img-fluid img-thumbnail" alt="">
            </td>

            <td>@item.CarMake.Name</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
    }
    </tbody>
</table>
